/*
.image-container {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


ion-img{
  margin: 30% 5% 0 5%;
}

ion-spinner {
  width: 70px;
  height: 70px;
  margin: 10% 15% 0 5%
}

ion-label{
  margin: 10% 0 0 20%;
}
.loading{
  font-size: 30px;
  font-weight: 700;
  line-height: 2.4;
  color: #173e89;
  text-transform: capitalize;
  text-align: center;
}

.loading-container {
  display: flex;
  align-items: center;
}
 */

 .image-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Alinea verticalmente */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Alinea horizontal y verticalmente */
  height: 100vh; /* Opcional: asegura que el contenedor ocupe toda la altura de la pantalla */
}

ion-img{
  margin: 5%; /* Modificado para que tenga espacio en todos los lados */
}

ion-spinner {
  width: 70px;
  height: 70px;
}

.loading{
  font-size: 30px;
  font-weight: 700;
  line-height: 2.4;
  color: #173e89;
  text-transform: capitalize;
  text-align: center;
}
