
.container{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  flex-direction: column;
}

.cardLogin{
  max-width: 400px !important;
  margin: 2em;
  text-align: center;
  max-height: 600px;
  border-radius: 2rem;
  border: 2px solid #CD5D7D ;
}
.imagen{
  margin: 2em;
}
.header{
  text-align: center;
  font-family: "Playfair Display", serif;
  font-weight: 800;
  font-size: 18px;
  margin-bottom: 10px;
}

.full-width{
  width: 100%;
}

.custom-button[disabled] {
  background-color: rgb(228, 228, 228);
  color: white;
}

.custom-button:not([disabled]) {
  background-color: #949CDF;
  color: white;
}


