ion-toolbar {
  --background: #949cdf;
  --color: #ffffff;
}

a {
  --background: #949cdf;
  --color: #ffffff;
}

ion-title{
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: 14px;
}
