
  <ion-footer class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="end">
        <a href="https://github.com/sorvylenny" target="_blank">
          <ion-button color="light">
            <ion-icon name="logo-github"></ion-icon>
          </ion-button>
        </a>
        <a href="https://www.linkedin.com/in/katherine-flores-marin/" target="_blank">
          <ion-button color="light">
            <ion-icon name="logo-linkedin"></ion-icon>
          </ion-button>
        </a>
      </ion-buttons>
      <ion-title>Realizado por Katherine Flores</ion-title>
    </ion-toolbar>
  </ion-footer>

